### {{.RepoName}}
{{range .Issues}}
- [{{.ID}}](https://adarga.atlassian.net/browse/{{.ID}}) - {{.Summary}}
    - :rocket: {{.Status}}
    - :️label: {{range .Labels}}{{.}}{{end}}
    - PRs: {{range .PRs}}[(#{{.}})]({{$.RepoURL}}/pull/{{.}}){{end}}
{{end}}